[submodule "test-repo"]
	path = test-repo
	url = git@github.com:mpeddada1/test-repo.git
	branch = another-branch
[submodule "gax-java"]
	path = gax-java
	url = git@github.com:mpeddada1/gax-java.git
	branch = 22.3.0_update
[submodule "java-shared-config"]
	path = java-shared-config
	url = git@github.com:mpeddada1/java-shared-config.git
	branch = 0.9.17_update
[submodule "java-shared-dependencies"]
	path = java-shared-dependencies
	url = git@github.com:mpeddada1/java-shared-dependencies.git
